.header {
    background-color: #FFFF;
    padding: 5px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
}

.header h1 {
    margin-bottom: 0;
    font-size: 1.7em;
}